.hero{
    background-color: #30303d;
    max-height: 100vh;
    min-height: 50vh;
    color:#fff;
    overflow: hidden;
}
.heroContainer{
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 10em;
}

.heroTextContainer{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    flex-wrap: wrap;
    max-height: 100vh;
    min-height: 50vh;
}
.heroText{
    height: 50%;
    width:45vw;
    padding: 0em 1em 0em 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 0;
}
.heroScreen{
    width:100%;
    margin-right: -17vw;
    margin-top: 12.7vh;
    padding-left: 1em;
    display: flex;
    flex-direction:column;
    justify-content:flex-end;
    align-content: flex-end;
}

.main{
    padding: 0 10vw;
}

.gifbox{
    min-height:30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 10vw;
}
.giftext{
    width: 38vw;
    margin-right: 50px;
    
}
.giftext p{
   margin-top: 15px;
}

.gif{
    width: 30em;
}

.sectionA2 h1,.sectionA1 h1,.sectionA3 h1{
    margin-bottom: 0.6em;
    margin-top:1em;
}
.sectionA2 p,.sectionA1 p,.sectionA3 p{
    margin-bottom: 30px;
}

.sectionA1,.sectionA2, .sectionA3{
    padding: 40px 6vw;
    text-align: center;
}

.trioContainer{
    padding: 0 0 3em 0;
    /* margin-bottom: 70px; */
    display: flex;
    justify-content:space-between;
}


.duoContainer{
    padding: 0 0 3em 0;
    display: flex;
    justify-content: space-evenly;
}
.trioContainer .singleSnap> img{
    width: 22vw;;
    
    
}

.duoContainer .singleSnap> img{

    width: 30vw;    
}

.blackCTA{
    background-color: #000000;
    height:18em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerCTA{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}


.heroEScreen{
    width:29%;
    margin-top: 5vh;
    display: flex;
    flex-direction:column;
    justify-content:flex-end;
    align-content: flex-end;

}

.sectionE1{
    padding: 20vh 12vw 25vh 12vw;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

.products{
    padding: 1em 6vw;
}

.products p{
    margin: 2em -2em 2em -2em;
    text-align: center;
}

.productImg{
    margin-bottom: 20px;

}


.E1content{
    width:80%;
}
.E1content p{
    margin-top: 8px;
    margin-bottom: 13px;
}

.sectionE1 img{
    width:80%;
}

.sectionE2{
    /* border: 1px solid blue; */
    padding: 20em 6vw;
    display: flex;
    height:80vh;
    align-items: center;
    justify-content: center;
    column-gap: 5em;

}
.E2content{
    /* flex:4; */
    width:40vw;
    /* border: 1px solid red; */
}

.E2content p{
    margin-top: 8px;
    margin-bottom: 13px;
}

.E2img{
    /* flex:5; */
    width: 35vw;
    margin:2em 0 0 0;
}


.gifbox img,.sectionA1 img,.sectionA2 img,.sectionA3 img  {
    -webkit-box-shadow: 10px 10px 5px -6px rgba(158,158,158,1);
-moz-box-shadow: 10px 10px 5px -6px rgba(158,158,158,1);
box-shadow: 10px 10px 5px -6px rgba(158,158,158,1);
}

.sectionN1{
    padding: 0 15vw;
    display: flex;
    align-items: center;
    height: 90vh;
    justify-self: center;
    width:100%;
    column-gap: 5em;
}
.N1content{
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    /* align-items: center;
    align-content: center; */
}

.N1content h4{
    margin-top: 1em;
}

.N1content p{
    margin-top: 8px;
    margin-bottom: 13px;
}

.N1img{
    width: 140%;
}
.sectionN2{
    display: flex;
    align-items: center;
    height: 80vh;
    padding: 0 10vw;
    justify-content: space-between;
    width:100%;
    column-gap: 4em;
}
.N2content{
    width: 50%;    
    padding-left: 70px;
    
}

.N2content p{
    margin-top: 8px;
    margin-bottom: 13px;
}

.N2img{
    width:50%;
}

.navB{
    height: 40vh;
    padding: 0 10vw;
}

.useCasesWithTitle{
    padding: 13vh 7vw 18vh 7vw;
    width: 100%;
    /* padding-top: 80px; */
    
}

.useCases{
    display: flex;
    margin-top: 4em;
    line-height: 1.2em;
    column-gap: 2em;
}


.caseContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 15%;
    text-align: end;
}


.caseBox{
    width: 15vw;
    padding: 1em;
    color: white;
    font-weight: 300;
}

.caseBox1{
    background-image: url(../public/photos/pages/Navigation/Ret.png);
    background-color: #000000; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    height: 8em;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.caseBox2{
    background-image: url(../public/photos/pages/Navigation/M.png);
    background-color: #000000; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    height: 8em;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

}

.caseBox3{
    background-image: url(../public/photos/pages/Navigation/Air.png);
    background-color: #000000; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    height: 8em;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

}.caseBox4{
    background-image: url(../public/photos/pages/Navigation/Trans.png);
    background-color: #000000; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    height: 8em;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

}.caseBox5{
    background-image: url(../public/photos/pages/Navigation/Cit.png);
    background-color: #000000; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    height: 8em;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

}

.caseBox6{
    background-image: url(../public/photos/pages/Navigation/Hosp.png);
    background-color: #000000; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    height: 8em;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}